@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <hr>
    <p>Для дальнейшей работы перейдите на вкладку <a href="/Employees">работники</a> или <a href="/Companies">компании</a>.</p>
</div>
